---
---

@import "{{ site.theme }}";

body {
    margin: 60px auto;
    width: 85%;
}
nav ul, footer ul {
    font-size: 1.25em;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-size: 1.15em;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
    color: #9CCFE7;
}
a:hover {
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
    text-decoration: underline;
    color: #262626;
}
h1 {
    font-size: 2.3em;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
}
h2 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
}
h3 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
}


p {
    font-size: 1.15em;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
    line-height: 1.4em;
    margin: 0em
    color: #2e282a;
    text-indent:40px
}
footer {
    border-top: 1px solid 
    font-size: 1.5em;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
    font-family:'Helvetica', 'Helvetica', 'Helvetica';
}
ul.posts li {
    list-style: none;
}
